___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [2]:
import pandas as pd
import numpy as np

In [8]:
from numpy.random import randn
np.random.seed(101)

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [16]:
'A B C D E'.split()

['A', 'B', 'C', 'D', 'E']

In [20]:
df = pd.DataFrame(randn(4, 4), index='Petya C D E'.split(), columns='W X Y Z'.split())

In [21]:
df

              W         X         Y         Z
Petya -0.279510  1.062710  1.752014  0.695547
C      0.153661  0.167638 -0.765930  0.962299
D      0.902826 -0.537909 -1.549671  0.435253
E      1.259904 -0.447898  0.266207  0.412580

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [24]:
df['W']

Petya   -0.279510
C        0.153661
D        0.902826
E        1.259904
Name: W, dtype: float64

In [27]:
# Pass a list of column names
df[['W','Z']]

              W         Z
Petya -0.279510  0.695547
C      0.153661  0.962299
D      0.902826  0.435253
E      1.259904  0.412580

In [29]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

Petya   -0.279510
C        0.153661
D        0.902826
E        1.259904
Name: W, dtype: float64

DataFrame Columns are just Series

In [10]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [32]:
df['new'] = df['W'] + df['Y']

In [33]:
df

              W         X         Y         Z       new
Petya -0.279510  1.062710  1.752014  0.695547  1.472504
C      0.153661  0.167638 -0.765930  0.962299 -0.612269
D      0.902826 -0.537909 -1.549671  0.435253 -0.646845
E      1.259904 -0.447898  0.266207  0.412580  1.526110

** Removing Columns**

In [38]:
df = df.drop('Petya', axis=0)

          W         X         Y         Z       new
C  0.153661  0.167638 -0.765930  0.962299 -0.612269
D  0.902826 -0.537909 -1.549671  0.435253 -0.646845
E  1.259904 -0.447898  0.266207  0.412580  1.526110

In [39]:
# Not inplace unless specified!
df

              W         X         Y         Z       new
Petya -0.279510  1.062710  1.752014  0.695547  1.472504
C      0.153661  0.167638 -0.765930  0.962299 -0.612269
D      0.902826 -0.537909 -1.549671  0.435253 -0.646845
E      1.259904 -0.447898  0.266207  0.412580  1.526110

In [42]:
df.drop('new', axis=1, inplace=True)

KeyError: "['new'] not found in axis"

In [41]:
df

              W         X         Y         Z
Petya -0.279510  1.062710  1.752014  0.695547
C      0.153661  0.167638 -0.765930  0.962299
D      0.902826 -0.537909 -1.549671  0.435253
E      1.259904 -0.447898  0.266207  0.412580

Can also drop rows this way:

In [43]:
df.drop('E', axis=0)

              W         X         Y         Z
Petya -0.279510  1.062710  1.752014  0.695547
C      0.153661  0.167638 -0.765930  0.962299
D      0.902826 -0.537909 -1.549671  0.435253

** Selecting Rows**

In [50]:
df['W'] # Column
df.loc['Petya'] # Row

W   -0.279510
X    1.062710
Y    1.752014
Z    0.695547
Name: Petya, dtype: float64

Or select based off of position instead of label

In [51]:
df.iloc[2]

W    0.902826
X   -0.537909
Y   -1.549671
Z    0.435253
Name: D, dtype: float64

** Selecting subset of rows and columns **

In [54]:
df.loc['C', 'Y']

-0.7659300746299967

In [74]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a[:-3:2])
print(a[::-1])
print(a[-3:])

[1, 3, 5]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[7, 8, 9]

In [75]:
df

              W         X         Y         Z
Petya -0.279510  1.062710  1.752014  0.695547
C      0.153661  0.167638 -0.765930  0.962299
D      0.902826 -0.537909 -1.549671  0.435253
E      1.259904 -0.447898  0.266207  0.412580

In [76]:
# df.loc[['A','B'], ['W','Y']]
df.iloc[:-1, 1:]

              X         Y         Z
Petya  1.062710  1.752014  0.695547
C      0.167638 -0.765930  0.962299
D     -0.537909 -1.549671  0.435253

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [77]:
df

              W         X         Y         Z
Petya -0.279510  1.062710  1.752014  0.695547
C      0.153661  0.167638 -0.765930  0.962299
D      0.902826 -0.537909 -1.549671  0.435253
E      1.259904 -0.447898  0.266207  0.412580

In [78]:
df>0

           W      X      Y     Z
Petya  False   True   True  True
C       True   True  False  True
D       True  False  False  True
E       True  False   True  True

In [81]:
df[df>0]

              W         X         Y         Z
Petya       NaN  1.062710  1.752014  0.695547
C      0.153661  0.167638       NaN  0.962299
D      0.902826       NaN       NaN  0.435253
E      1.259904       NaN  0.266207  0.412580

In [84]:
df[df['W']>0]

          W         X         Y         Z
C  0.153661  0.167638 -0.765930  0.962299
D  0.902826 -0.537909 -1.549671  0.435253
E  1.259904 -0.447898  0.266207  0.412580

In [87]:
df[df['W']>0]['Y']

C   -0.765930
D   -1.549671
E    0.266207
Name: Y, dtype: float64

In [27]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

For two conditions you can use | and & with parenthesis:

In [97]:
df[(df['W']>0) & (df['Y'] > 0)]
df[df['W']>0][df['Y']>0]

C:\Users\KindYAK\Anaconda3\envs\def\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

          W         X         Y        Z
E  1.259904 -0.447898  0.266207  0.41258

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [98]:
df

              W         X         Y         Z
Petya -0.279510  1.062710  1.752014  0.695547
C      0.153661  0.167638 -0.765930  0.962299
D      0.902826 -0.537909 -1.549671  0.435253
E      1.259904 -0.447898  0.266207  0.412580

In [99]:
# Reset to default 0,1...n index
df.reset_index()

   index         W         X         Y         Z
0  Petya -0.279510  1.062710  1.752014  0.695547
1      C  0.153661  0.167638 -0.765930  0.962299
2      D  0.902826 -0.537909 -1.549671  0.435253
3      E  1.259904 -0.447898  0.266207  0.412580

In [113]:
newind = 'CA NY CA OR'.split()
'CA,NY,WY,OR'.split(",")

['CA', 'NY', 'WY', 'OR']

In [114]:
df['States'] = newind

In [115]:
df

               W         X         Y         Z States
States
CA     -0.279510  1.062710  1.752014  0.695547     CA
NY      0.153661  0.167638 -0.765930  0.962299     NY
WY      0.902826 -0.537909 -1.549671  0.435253     CA
OR      1.259904 -0.447898  0.266207  0.412580     OR

In [118]:
df.set_index('States')

               W         X         Y         Z
States
CA     -0.279510  1.062710  1.752014  0.695547
NY      0.153661  0.167638 -0.765930  0.962299
CA      0.902826 -0.537909 -1.549671  0.435253
OR      1.259904 -0.447898  0.266207  0.412580

In [119]:
df

               W         X         Y         Z States
States
CA     -0.279510  1.062710  1.752014  0.695547     CA
NY      0.153661  0.167638 -0.765930  0.962299     NY
WY      0.902826 -0.537909 -1.549671  0.435253     CA
OR      1.259904 -0.447898  0.266207  0.412580     OR

In [120]:
df.set_index('States', inplace=True)

In [123]:
df

               W         X         Y         Z
States
CA     -0.279510  1.062710  1.752014  0.695547
NY      0.153661  0.167638 -0.765930  0.962299
CA      0.902826 -0.537909 -1.549671  0.435253
OR      1.259904 -0.447898  0.266207  0.412580

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [127]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3,345]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [39]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [128]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.988773  0.513833
   2 -0.928205  0.846904
   3 -0.298436  0.029141
G2 1  0.889031 -1.839261
   2  0.863596 -1.076591
   3 -0.580383  1.209027

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [130]:
df.loc['G1']

          A         B
1  0.988773  0.513833
2 -0.928205  0.846904
3 -0.298436  0.029141

In [135]:
df.loc['G1'].loc[1]

A    0.988773
B    0.513833
Name: 1, dtype: float64

In [136]:
df.index.names

FrozenList([None, None])

In [139]:
df.index.names = ['Department','Employee']

In [140]:
df

                            A         B
Department Employee
G1         1         0.988773  0.513833
           2        -0.928205  0.846904
           3        -0.298436  0.029141
G2         1         0.889031 -1.839261
           2         0.863596 -1.076591
           3        -0.580383  1.209027

In [143]:
df.xs('G2')

                 A         B
Employee
1         0.889031 -1.839261
2         0.863596 -1.076591
3        -0.580383  1.209027

In [49]:
df.xs(['G1',1])

A    0.302665
B    1.693723
Name: (G1, 1), dtype: float64

In [144]:
df.xs(1, level='Employee')

                   A         B
Department
G1          0.988773  0.513833
G2          0.889031 -1.839261

# Great Job!